---
---
<html>
<head>
    <meta charset='utf-8' />
    <title>Philadelphia Bike Train Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
</head>
<body>
    <div id='pbt_map'></div>
</body>
</html>

<style>
  body { margin:0; padding:0; }
  #pbt_map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<script>
	import maplibregl from 'maplibre-gl'
	const maptilerKey = (await import.meta.env.PUBLIC_MAPTILER)

  var map = new maplibregl.Map({
      container: 'pbt_map',
      style: `https://api.maptiler.com/maps/dataviz/style.json?key=${maptilerKey}`,
      center: [-75.1652, 39.9526],
      zoom: 11
  });
</script>
